{% extends 'base.html.twig' %}

{% block title %}Resultat du quiz - {{quizResult.quiz.title}}{% endblock %}

{% block body %}
    <div {{ react_component('QuizResult', { quizResult: data}) }}></div>
{% endblock %}
